<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuários</title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      height: 100vh;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(65, 184, 131, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .content {
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 600px;
      margin: auto;
    }

    header {
      width: 100%;
      display: flex;
      justify-content: center;
      color: rgba(65, 184, 131, 1);
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    }

    .title {
      color: rgba(0, 212, 255, 1);
    }
  </style>
</head>
